/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 15rem;
  max-height: 10rem;
}

h1 {
  margin-bottom: 1rem;
} */

body {
  margin: 0;
  padding: 0;
  background-color: #fbd000;
}

.app {
  text-align: center;
  margin: 2rem;
}

.main-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  min-width: 120px;
}

.card-container {
  height: 15rem;
  width: 25rem;
}

li {
  list-style-type: none;
}

button {
  justify-self: center;
}

a {
  text-decoration: none;
}

h1 {
  margin-bottom: 3rem;
  font-size: 400%;
}

.search-container {
  margin-bottom: 3rem;
}
.search-input {
  height: 3rem;
  width: 25rem;
  border-radius: 25px;
  padding-left: 1rem;
  font-size: 120%;
  border: 3px solid black;
}
